/* ========== */
/* = GLOBAL = */
/* ========== */
*{outline:none;}
html,body{background:#000000;color:#FFFFFF;font:13px "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;margin:0;padding:0;}
a{text-decoration:none;cursor:pointer;}
button{cursor:pointer;}
img{border:none;}
ul{list-style-type:none;padding:0;}
.hidden{display:none;}
.invisible{visibility:hidden;}
tr.altRow{background:#141414;}

#navShell{border-right:1px solid #65A7C0;position:fixed;top:0;bottom:0;z-index:2;width:200px;text-align:right;}
	#navShell>div>h1{padding-right:15px;}
	#nav>li{display:block;cursor:pointer;}
		#nav>li>a{color:#FFFFFF;font-size:16px;padding:8px 15px;display:block;}
		#nav>li>a:hover{color:#65A7C0;}
		#nav>li>a.selected{color:#FFFFFF;background:#65A7C0;}

#contentShell{z-index:1;padding-left:215px;}

/* ========= */
/* = LOGIN = */
/* ========= */
#loginShell{}
	#loginTable{width:330px;margin:50px auto 0;border-spacing:0;background:#FFFFFF;color:#000000;}
		#loginTable th#loginTitle{background:#65A7C0;padding:7px;font-size:16px;color:#FFFFFF;font-weight:bold;}
		#loginTable th#loginErrorHead{padding:5px;background:#FF0000;color:#FFFFFF;}
		#loginTable td div{padding:5px 5px 0 5px;}
			#loginTable td div label{width:72px;display:block;float:left;}
			#loginTable #usernameShell input,#loginTable #passwordShell input{width:242px;}
			#loginTable #submitShell{padding-bottom:5px;}
				#loginTable #submitShell{text-align:right;}

/* ============= */
/* = DIRECTORS = */
/* ============= */
#addDirectorShell{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #303030;}
#addDirectorShell>div{margin:10px 0;}
	#addDirectorShell label{font-weight:bold;width:95px;display:block;float:left;text-align:right;padding-right:20px;}
	#addDirectorShell input#firstName,#addDirectorShell input#lastName{width:200px;}
	#addDirectorShell textarea{width:480px;}
	#addDirectorShell input#description,#addDirectorShell input#website{width:480px;}
	#addDirectorShell #addBtnShell{text-align:right;width:600px;margin-top:10px;}
	#addDirectorShell #addDirectorBtn{background:url('/img/sprites.png') no-repeat scroll 0 0 transparent;border:none;width:84px;height:38px;}
#directorTable{float:left;}
	#directorTable tr{cursor:pointer;}
	#directorTable td{padding:2px 5px;}
	#directorTable td.directorName{width:200px;}
	#directorTable td.removeBtn{}
#editDirectorShell{float:left;}
#editDirectorShell>div{margin:10px 0;}
	#editDirectorShell label{font-weight:bold;width:95px;display:block;float:left;text-align:right;padding-right:20px;}
	#editDirectorShell input#firstName,#editDirectorShell input#lastName{width:200px;}
	#editDirectorShell textarea{width:480px;}
	#editDirectorShell input#description,#editDirectorShell input#website{width:480px;}
	#editDirectorShell #updateBtnShell{text-align:right;width:600px;margin-top:10px;}
	#editDirectorShell #updateDirectorBtn{background:url('/img/sprites.png') no-repeat scroll 0 -56px transparent;border:none;width:100px;height:38px;}

/* ========= */
/* = FEEDS = */
/* ========= */
#addFeedShell{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #303030;}
#addFeedShell>div{margin:10px 0;}
	#addFeedShell input#feedUrl{width:336px;}
	#addFeedShell #addBtnShell{text-align:right;width:600px;margin-top:10px;}
	#addFeedShell #addFeedBtn{background:url('/img/sprites.png') no-repeat scroll 0 0 transparent;border:none;width:84px;height:38px;}
#editFeedShell{}
	#editFeedShell table#feedList{}
	#editFeedShell table#feedList th{text-align:left;padding-top:12px;color:#65A7C0;font-size:15px;}
	#editFeedShell table#feedList td.nameCol{width:500px;}
	#editFeedShell table#feedList input{width:16px;}

/* =========== */
/* = NOTABLE = */
/* =========== */
#addNotableShell{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #303030;}
#addNotableTextRow{margin-bottom:15px;}
#addNotableButtonRow{margin-bottom:15px;}
#addNotableShell input[type="text"]#notableTitle{width:250px;margin-right:10px;}
#addNotableShell input[type="text"]#notableURL{width:400px;}
#addNotableShell input[type="file"]{color:white;}
#editNotableShell{}
	#editNotableShell #notableList td{vertical-align:middle;}
	#editNotableShell #notableList td.titleCell{padding-left:13px;}
	#editNotableShell #notableList td.titleCell input[type="text"]{width:200px;}
	#editNotableShell #notableList td.urlCell{padding-left:13px;}
	#editNotableShell #notableList td.urlCell input[type="text"]{width:400px;}
	#editNotableShell #notableList td.removeCell{padding-right:5px;}

/* ========= */
/* = ABOUT = */
/* ========= */
#addAboutShell input[type="file"]{color:white;}

/* =========== */
/* = CONTACT = */
/* =========== */
#officeCategoryShell{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #303030;}
#officeCategoryShell>div{margin:10px 0;}
#officeShell{}
	#addOfficeShell{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #303030;}
	#addOfficeShell>div{margin:3px 0;}
	#addOfficeShell .contactDiv{width:100%;float:left;clear:both;}
	#addOfficeShell .contact123Shell{/*float:left;clear:both;*/}
	#addOfficeShell .labelDiv{float:left;}
	#addOfficeShell label{font-weight:bold;width:150px;display:block;float:left;text-align:right;padding-right:20px;}
	#addOfficeShell input{width:200px;/*float:left;*/margin-right:10px;}
/*	#addOfficeShell select{width:80px;}*/
	#addOfficeShell #addBtnShell{text-align:right;width:750px;margin-top:10px;}
	#addOfficeShell #addOfficeBtn{background:url('/img/sprites.png') no-repeat scroll 0 0 transparent;border:none;width:84px;height:38px;}
	#officeTable,#editOffice{float:left;}
	#officeTable tr{cursor:pointer;}
	#officeTable td{padding:2px 5px;}
	#officeTable td.companyName{width:200px;}
	#officeTable td.officeName{width:150px;}
	#editOffice{margin-left:30px;}
	#editOffice>div{margin:3px 0;}
	#editOffice label{font-weight:bold;width:150px;display:block;float:left;text-align:right;padding-right:20px;}
	#editOffice input{width:200px;margin-right:10px;}
	#editOffice #updateOfficeBtnShell{text-align:right;margin-top:10px;}
	#editOffice #updateOfficeBtn{background:url('/img/sprites.png') no-repeat scroll 0 -56px transparent;border:none;width:100px;height:38px;}

/* ========= */
/* = USERS = */
/* ========= */
#addUserShell{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #303030;}
	#addUserShell span.addUserBlurb{font-size:11px;}
	#addUserShell #addUserFieldsShell{width:366px;}
	#addUserShell #addUserFieldsShell>div{padding-bottom:5px;}
		#addUserShell #addUserFieldsShell label{width:130px;display:block;float:left;text-align:right;padding-right:10px;}
		#addUserShell #addUserFieldsShell input{width:218px;}
	#addUserShell #addUserFieldsShell #userTypeShell{}
		#addUserShell #addUserFieldsShell #userTypeShell select{}
	#addUserShell #addUserFieldsShell #addButtonShell{text-align:right;}
#userListTable{width:800px;}
#userListTable td{padding:5px;}
	/* =================== */
	/* = PASSWORD DIALOG = */
	/* =================== */
	#passwordDialog #dialogPasswordShell,#passwordDialog #dialogConfirmPasswordShell{padding:5px;}
		#passwordDialog #passwordDialogError{margin:10px 0;background:#FF0000;padding:2px;color:#FFFFFF;font-weight:bold;font-size:12px;text-align:center;}
		#passwordDialog label{width:130px;display:block;float:left;text-align:right;padding-right:10px;}
		#passwordDialog input{width:160px;}

/* ========= */
/* = FILES = */
/* ========= */

